@inject IProductService ProductService;

<ul class="list-unstyled">
    @foreach(var product in @ProductService.Products)
    {
        <li class="media my-3">
            <ProductItemContainer>
                <ProductName Name="@product.Name" />
                <ProductImage 
                    ImgUrl="@product.ImgUrl"
                    ProductId="@product.Id"
                    ProductName="@product.Name" />
                <ProductDescription Description="@product.Description" />
                <ProductVariantPrice Product="product" />
            </ProductItemContainer>
        </li>
    }
</ul>

@code {

    [Parameter]
    public string CategoryUrl { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await ProductService.GetProductsAsync(CategoryUrl);
    }

    protected override async Task OnParametersSetAsync()
    {
        await ProductService.GetProductsAsync(CategoryUrl);
    }
}