@using System.ComponentModel
@inject IProductService ProductService;

<ul class="list-unstyled">
    @foreach(var product in ProductService.Products)
    {
        <li class="media my-3">
            <ProductItemContainer>
                <ProductName Name="@product.Name" />
                <ProductImage 
                    ImgUrl="@product.ImgUrl"
                    ProductId="@product.Id"
                    ProductName="@product.Name" />
                <ProductDescription Description="@product.Description" />
                <ProductVariantPrice Product="product" IsProductSelected="false" />
            </ProductItemContainer>
        </li>
    }
</ul>

@code {

    [Parameter]
    public string CategoryUrl { get; set; } = string.Empty;

    [Parameter]
    public string SearchText { get; set; } = string.Empty;


    protected override async Task OnInitializedAsync()
    {
        await LoadProducts();
    }

    protected override async Task OnParametersSetAsync()
    {
        await LoadProducts();
    }

    // Shared functionality for loading products by category or by search term.
    private async Task LoadProducts()
    {
        if (SearchText != "")
        {
            await ProductService.SearchProducts(SearchText);
        }
        else if (CategoryUrl != "")
        {
            await ProductService.GetProductsAsync(CategoryUrl);
        }
        else
        {
            await ProductService.GetProductsAsync();  
        }
    }
}