@inject IProductService ProductService;

<h3>Product list</h3>

<ul class="list-unstyled">
    @foreach(var product in @ProductService.Products)
    {
        <li class="media my-3">

            <div class="media-body">
                <a href="#">
                    <h3 class="mb-0">@product.Name</h3>
                </a>

                <div class="media-img-wrapper">
                    <a href="#">
                        <img  class="media-img" src="@product.ImgUrl" alt="@product.Name" />
                    </a>
                </div>

                <p>@product.Description</p>

                <h4 class="price">
                    $@product.Price
                </h4>
            </div>
        </li>
    }
</ul>



@code {
    protected override async Task OnInitializedAsync()
    {
        await ProductService.GetProductsAsync();
    }
}
