@page "/product/{id:guid}"
@inject IProductService ProductService


@if(product == null)
{
    <span>Loading Product...</span>
}
else
{
    <Web.Blazor.Client.Shared.App.Products.ProductDetail.ProductDetail
        Price="@product.Price"
        ProductDescription="@product.Description"
        ProductId="@product.Id"
        ProductImgUrl="@product.ImgUrl"
        ProductName="@product.Name"
    />
}

@code {
    private Product? product = null;

    [Parameter]
    public Guid Id { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        product = ProductService.Products.Find(p => p.Id == Id);
    }
}
